.menu{
    background-image: linear-gradient(blue, rgb(77, 60, 188));
}
.menu a{
    color: appworkspace;
    text-decoration: none;
}
.menu ul{
    list-style: none;
    padding: 0em;
}
.menu li{
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}
.menu li a{
    padding-left: 0.9em;
    padding-right: 0.9em;

}
.menu li a:hover{
    background-color: #515;
    border-radius:10%;
}
